<header class="bg-primary shadow-md p-4 text-lg flex justify-between ">
  <button (click)="toggle.emit()" class="text-white">☰</button>
  <div class="flex w-full h-full flex-justify-between items-center ml-2">
    <div class="flex flex-1 items-start">
      <input class="w-52 bg-white rounded-md focus:border-white focus-visible:border-white" />
    </div>
    <div class="flex text-md text-center text-white gap-1 items-center">
      <i class="ti-pencil-alt text-sm font-mono"></i>
      <span class="fa fa-edit"></span>
      <span class="fa fa-home"></span>
      <span class="fa fa-cog"></span>
    </div>
  </div>
</header>
